/*-----------------------------------------------
Name: PayPal Calculator
Author: Edicson Abel
URL: https://edicsonabel.com/
Theme URL: 
Date: May 2020
http://creativecommons.org/licenses/by/3.0/
----------------------------------------------- */
.calculator{
  min-height: 100vh;
}